absl-py==1.0.0
astroid==2.5.3
astunparse==1.6.3
cachetools==5.0.0
certifi==2020.12.5
charset-normalizer==2.0.12
click==7.1.2
click-plugins==1.1.1
cligj==0.7.1
colorama==0.4.4
cycler==0.10.0
descartes==1.1.0
efficientnet-pytorch==0.6.3
flatbuffers==2.0
gast==0.5.3
google-auth==2.6.4
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.44.0
h5py==3.6.0
idna==3.3
importlib-metadata==4.11.3
isort==5.8.0
keras==2.8.0
Keras-Preprocessing==1.1.2
kiwisolver==1.3.1
lazy-object-proxy==1.6.0
libclang==13.0.0
Markdown==3.3.6
matplotlib==3.4.1
mccabe==0.6.1
munch==2.5.0
numpy==1.20.2
oauthlib==3.2.0
opencv-python==4.5.5.64
opt-einsum==3.3.0
pandas==1.2.4
Pillow==8.2.0
pretrainedmodels==0.7.4
protobuf==3.20.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pylint==2.7.4
pynvml==11.4.1
PyOpenGL @ file:///C:/Users/Gleb1nho/Downloads/PyOpenGL-3.1.5-cp39-cp39-win_amd64.whl
PyOpenGL-accelerate @ file:///C:/Users/Gleb1nho/Downloads/PyOpenGL_accelerate-3.1.5-cp39-cp39-win_amd64.whl
pyparsing==2.4.7
pyproj==3.0.1
PyQt5==5.15.4
PyQt5-Qt5==5.15.2
PyQt5-sip==12.8.1
python-dateutil==2.8.1
pytz==2021.1
requests==2.27.1
requests-oauthlib==1.3.1
rsa==4.8
segmentation-models-pytorch==0.2.1
Shapely==1.7.1
six==1.15.0
tensorboard==2.8.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow-gpu==2.8.0
tensorflow-io-gcs-filesystem==0.24.0
termcolor==1.1.0
tf-estimator-nightly==2.8.0.dev2021122109
timm==0.4.12
torch==1.11.0+cu113
torchaudio==0.11.0+cu113
tqdm==4.64.0
typing_extensions==4.1.1
Werkzeug==2.1.1
wrapt==1.12.1
zipp==3.8.0
PS C:\Users\Gleb1nho\Desktop\diploma\codes> pip freeze > requirements.txt
WARNING: Ignoring invalid distribution -ip (c:\python39\lib\site-packages)
PS C:\Users\Gleb1nho\Desktop\diploma\codes> ^C
PS C:\Users\Gleb1nho\Desktop\diploma\codes> python -m pip freeze > requirements.txt
WARNING: Ignoring invalid distribution -ip (c:\python39\lib\site-packages)
PS C:\Users\Gleb1nho\Desktop\diploma\codes> ^C
PS C:\Users\Gleb1nho\Desktop\diploma\codes> pip freeze
WARNING: Ignoring invalid distribution -ip (c:\python39\lib\site-packages)
absl-py==1.0.0
astroid==2.5.3
astunparse==1.6.3
cachetools==5.0.0
certifi==2020.12.5
charset-normalizer==2.0.12
click==7.1.2
click-plugins==1.1.1
cligj==0.7.1
colorama==0.4.4
cycler==0.10.0
descartes==1.1.0
efficientnet-pytorch==0.6.3
flatbuffers==2.0
gast==0.5.3
google-auth==2.6.4
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.44.0
h5py==3.6.0
idna==3.3
importlib-metadata==4.11.3
isort==5.8.0
keras==2.8.0
Keras-Preprocessing==1.1.2
kiwisolver==1.3.1
lazy-object-proxy==1.6.0
libclang==13.0.0
Markdown==3.3.6
matplotlib==3.4.1
mccabe==0.6.1
munch==2.5.0
numpy==1.20.2
oauthlib==3.2.0
opencv-python==4.5.5.64
opt-einsum==3.3.0
pandas==1.2.4
Pillow==8.2.0
pretrainedmodels==0.7.4
protobuf==3.20.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pylint==2.7.4
pynvml==11.4.1
PyOpenGL @ file:///C:/Users/Gleb1nho/Downloads/PyOpenGL-3.1.5-cp39-cp39-win_amd64.whl
PyOpenGL-accelerate @ file:///C:/Users/Gleb1nho/Downloads/PyOpenGL_accelerate-3.1.5-cp39-cp39-win_amd64.whl
pyparsing==2.4.7
pyproj==3.0.1
PyQt5==5.15.4
PyQt5-Qt5==5.15.2
PyQt5-sip==12.8.1
python-dateutil==2.8.1
pytz==2021.1
requests==2.27.1
requests-oauthlib==1.3.1
rsa==4.8
segmentation-models-pytorch==0.2.1
Shapely==1.7.1
six==1.15.0
tensorboard==2.8.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow-gpu==2.8.0
tensorflow-io-gcs-filesystem==0.24.0
termcolor==1.1.0
tf-estimator-nightly==2.8.0.dev2021122109
timm==0.4.12
toml==0.10.2
torch==1.11.0+cu113
torchaudio==0.11.0+cu113
torchvision==0.12.0+cu113
tqdm==4.64.0
typing_extensions==4.1.1
urllib3==1.26.9
Werkzeug==2.1.1
wrapt==1.12.1
zipp==3.8.0
